.head {
    background-color: black;
}

.head * {
    float: left;
}
.head .logo {
    width: 330px;
    height: 50px;
}

.link > * {
    text-align: center;
    margin: 1px 1px 0 0;
    height: 49px;
    color: white;
    line-height: 49px;
    display: block;
    float: left;
    background-color: #000000;
}