.page {
    margin: auto;
    width: 800px;
}

@media screen and (max-width: 800px) {
    .page {
        width: 100%;
    }
}

.page > * {
    float: left;
    width: 100%;
}

.head {
    clear: left;
    border-bottom: 1px dashed #000000;
    vertical-align: bottom;
}

.head .filter {
    margin-right: 200px;
}

/*.head .filter .filterin {
    float: left;
    background-color: #847916;
    width: 100%;
}*/

.head .navigation {
    float: right;
    width: 200px;
}

@media screen and (max-width: 500px) {
    .head .filter, .head .navigation {
        width: 100%;
        float: left;
        clear: left;
    }
}

.head .navigation > * {
    width: 50px;
    height: 50px;
    float: right;
    background-color: #456464;
    color: white;
    text-align: center;
}


@media screen and (max-width: 400px) {
    .head > p {
        clear: left;
    }
}

.logo {
    float: left;
    width: 100%;
}

.title {
    float: left;
    line-height: 60px;
    font-size: 30px;
    background-color: greenyellow;
    height: 50px;
    margin: 2px;
}

.tag {
    height: 30px;
    margin: 5px;
    padding: 5px 10px;
    color: white;
    background-color: black;
    border-radius: 10px;
    line-height: 30px;
    /*height: 40px;
    line-height: 40px;
    font-size: 30px;*/
    display: block;
    float: left;
}


.section {
    float: left;
    clear: left;
    width: 100%;
}
.section img {
    width: 100%;
}

.section pre {
    float: left;
    display: inline-block;
    overflow: scroll;
}