.page {
    margin: auto;
    width: 800px;
}

@media screen and (max-width: 800px) {
    .page {
        width: 100%;
    }
}

.page > * {
    float: left;
}
.head {
    clear: left;
    width: 100%;
    border-bottom: 1px dashed #000000;
}

.head > * {
    float: none;
}

.head > p {
    clear: none;
}

@media screen and (max-width: 400px) {
    .head > p {
        clear: left;
    }
}

.logo {
    float: left;
    clear: left;
    height: 50px;
    width: 50px;
    margin: 2px;
}

.title {
    float: left;
    line-height: 60px;
    font-size: 30px;
    background-color: greenyellow;
    height: 50px;
    margin: 2px;
}

.tag {
    margin: 2px;
    padding: 5px 10px;
    color: white;
    background-color: black;
    border-radius: 10px;
    /*height: 40px;
    line-height: 40px;
    font-size: 30px;*/
    display: block;
    float: left;
}


.section {
    float: left;
    clear: left;
    width: 100%;
}
.section img {
    width: 100%;
}

.section pre {
    float: left;
    display: inline;
    width: 100%;
    overflow: scroll;
}