.page {
    margin: auto;
    width: 800px;
}

@media screen and (max-width: 800px) {
    .page {
        width: 100%;
    }
}

.page > * {
    float: left;
    width: 100%;
}

.head {
    clear: left;
}

.head p  {
    float: left;
    clear: left;
}

.head .navigation > * {
    float: left;
    width: 49px;
    height: 49px;
    margin: 1px 1px 0 0;
}
.head .navigation img {
    width: 49px;
    height: 49px;
}

@media screen and (max-width: 500px) {
    .logo, .navigation a {
        float: none;
        width: 30px;
    }
}

.title {
    float: left;
    line-height: 60px;
    font-size: 30px;
    background-color: greenyellow;
    height: 50px;
    margin: 2px;
}

.tag {
    text-align: center;
    margin: 1px 1px 0 0;
    height: 49px;
    color: white;
    background-color: black;
    line-height: 49px;
    display: block;
    float: left;
}


.section {
    float: left;
    clear: left;
    width: 100%;
}
.section img {
    width: 100%;
}

.section pre {
    float: left;
    display: inline-block;
    overflow: scroll;
}